<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h1>Hello World!</h1>
      <hr>
      <a [routerLink]="['']" [queryParams]="{'analytics': 500}" [fragment]="'section1'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> | 
      <input type="text" name="" placeholder="type user id" #id (input)="0">
      <a [routerLink]="['user', id.value]" [preserveQueryParams]="true" [preserveFragment]="true" routerLinkActive="active">User</a>
      <hr>
      <router-outlet></router-outlet>
		</div>
	</div>
</div>